@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 3rem;
  margin-right: 14rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-right: 40px;
}

.navbar li a {
  color: #000;
  padding: 5px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: #2F5150;
  color: #fff;
}

.sideLogo {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}

.sideLogo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.jumbotron {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("assets/banner1.png") no-repeat center center;
  background-size: cover;
}

.jumbotron img {
  display: none;
}

.content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.menu-kategori {
  text-align: center;
}

.icons {
  margin-bottom: 5px;
}

.img-kategori {
  width: 80px;
  height: 80px;
}

.icon {
  margin-top: 5px;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.iklan-baris {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.iklan-baris:last-child {
  margin-bottom: 0;
}

.iklan-baris .iklan {
  flex: 1;
}

.iklan img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

footer {
  background-color: #2F5150;
  padding: 20px;
  margin-top: 10rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -4rem;
  margin-left: 4rem;
}

.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.about-us {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: justify;
  margin-top: 4rem;
}

.left-box,
.center-box,
.right-box {
  flex-basis: 33.33%;
  text-align: center;
}

.center-box h2 {
  color: #fff;
  margin-bottom: 2rem;
}

.list-link a {
  display: block;
  margin-bottom: 1rem;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
}

.right-box {
  flex-basis: 33.33%;
  text-align: center;
}

.box-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.box-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.box-item .fas {
  margin-right: 10px;
}

.box-item .text {
  color: #fff;
  font-size: 16px;
}

.search-box,
.register-box {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.register-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.login-link {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.box-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.search-box .fas {
  color: #fff;
  margin-right: 10px;
}

.search-box input[type="text"] {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
}

.register-box {
  display: flex;
  align-items: center;
}

.register-box .text {
  color: #fff;
}

.register-link {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px 10px;
}

.register-link:hover {
  text-decoration: underline;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .logo img {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar li {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .sideLogo img {
    width: 100px;
    height: 100px;
  }

  .content1 {
    flex-wrap: wrap;
    gap: 5rem;
  }

  .jumbotron {
    height: 200px;
  }

  .jumbotron img {
    display: block;
    width: 100%;
    height: auto;
  }

  .footer-box {
    margin-left: 0;
  }

  .about-box {
    flex-direction: column;
  }

  .left-box,
  .center-box,
  .right-box {
    flex-basis: 100%;
    text-align: center;
  }

  .list-link a {
    margin-bottom: 0.5rem;
  }

  .content {
    align-items: center;
  }

  .search-box,
  .register-box {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .logo img {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar {
    justify-content: flex-start;
  }

  .navbar li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .sideLogo img {
    width: 80px;
    height: 80px;
  }

  .content1 {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .jumbotron {
    height: 150px;
  }

  .about-us {
    font-size: 16px;
  }
}