@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  margin-right: 40px;
}

.navbar li a {
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: #2f5150;
  color: #fff;
}

.navbar.sticky-top {
  top: 0;
  transition: top 0.3s;
}

.navbar.sticky-top.navbar-scrolled {
  top: 15px;
}

/* content */
.content{
  text-align: center;
  width: 100%;
  margin: 0;
  display: block;
}

.d-block {
  margin: auto;
  width: 80%;
  height: 45px;
  padding: 10px;
  background: #2F5150 !important;
  border-radius: 20px;
  align-items: center;
}

.d-block h2{
  margin: 0;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.content_notif{
  margin: auto;
  width: 70%;
  height: 100%;
  padding: 20px 30px;
  align-items: center;
  box-sizing: border-box;
  display: block;
}

.content_notif img{
  object-fit: cover;
  width: 50%;
  height: auto;
}

/*footer*/

footer {
  background-color: #2F5150;
  padding: 20px;
  margin-top: 6rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}
  
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -4rem;
  margin-left: 4rem;
}
  
.logo-footer img{
  margin-top: -5rem;
  margin-left: 4rem;
}
  
.about-box {
  display: flex;
  width: 100%;
  grid-template-columns: 500px 600px 500px;
  gap: 80px;
  color: #fff;
}

.about-us {
  font-size: 20px;
  font-weight: 500;
  text-align: initial;
}

.left-box,
.center-box,
.right-box {
  flex-basis: 33.33%;
}
  
.list-link a {
  display: block;
  margin-bottom: 1rem;
  color: #fff;
}
.list-link{
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  gap: 20px;
}
  
.content {
  display: flex;
  flex-direction: column;
}
  
.right-box {
  flex-basis: 33.33%;
  text-align: center;
}
  
.box-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
  
.box-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
  
.box-item .fas {
  margin-right: 10px;
}
  
.box-item .text {
  color: #fff;
  font-size: 16px;
}  
  
.box-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
  
.social-media-box{
  color: #fafaff;
}

.social-media a{
  color: #fafaff;
  font-size: 15px;
}

.social-media{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

/* Responsive Styles */
/*
@media (max-width: 768px) {
  .logo img {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar li {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .sideLogo img {
    width: 100px;
    height: 100px;
  }

  .footer-box {
    margin-left: 0;
  }

  .about-box {
    flex-direction: column;
  }

  .left-box,
  .center-box,
  .right-box {
    flex-basis: 100%;
    text-align: center;
  }

  .list-link a {
    margin-bottom: 0.5rem;
  }

  .content {
    align-items: center;
  }

  .search-box,
  .register-box {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .logo img {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar {
    justify-content: flex-start;
  }

  .navbar li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .sideLogo img {
    width: 80px;
    height: 80px;
  }

  .about-us {
    font-size: 16px;
  }
}
*/

@media screen and (max-width: 1200px) {
  .footer-box {
    margin-left: 0;
  }
  
  .about-box {
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  
  .left-box,
  .center-box,
  .right-box {
    flex-basis: 100%;
  }
  
  .list-link a {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
  }
} 