<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="sdank.css" />

    <title>Syarat dan Ketentuan TrashBack</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../../Public/index.html">
          <img
            src="../../Assets/logotb.png"
            alt="Bootstrap"
            width="50%"
            height="auto"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="../../../Public/index.html"
                >Beranda</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Transaksi/transaksi.html"
                >Transaksi</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Chat/chat.html">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../About/tentangKami.html"
                >Tentang Kami</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Auth/Login.html"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="content">
      <span class="d-block p-2 text-bg-primary">  
        <div class="judul">
          <h2> Syarat dan Ketentuan </h2>
        </div>
      </span>
      <section class="content_sk">
        <div class="sk">
            <h3>Syarat dan Ketentuan</h3>
            <p> Dengan menggunakan atau mengunjungi situs web kami (www.trashback.com), Anda dianggap telah membaca, memahami, menerima dan menyetujui Ketentuan Penggunaan ini. Ketentuan Penggunaan ini merupakan suatu perjanjian sah antara Anda dan PT Mall Sampah Indonesia. </p>
            <p> MOHON MEMBACA KETENTUAN PENGGUNAAN DAN KEBIJAKAN PRIVASI KAMI DENGAN SEKSAMA, SEBELUM MENGAKSES DAN MENGGUNAKAN LAYANAN KAMI.
            </p>
            <p> Hal-hal Umum 
                <ol>
                    <li> TraxChange Indonesia adalah suatu perseroan yang didirikan berdasarkan hukum Negara Republik Indonesia. </li>
                    <li> Aplikasi ini merupakan layanan berbentuk aplikasi yang menyediakan beragam layanan pengelolaan sampah dengan cara menghubungkan pengguna dengan penyedia layanan seperti pengepul, pemulung, Bank sampah maupun unit-unit pengelola sampah yang lain. Jenis layanan yang dapat dilayani melalui situs kami adalah: </li>
                        <ol type="a">
                            <li> Jual-beli sampah yang transaksinya dilakukan secara langsung (COD) maupun melalui uang digital berupa poin (Mallsampah poin) </li>
                            <li> Layanan program daur ulang berlangganan maupun incidental untuk bisnis kantor dan event </li>
                        </ol>
                    <li> TraxChange memungkinkan Anda untuk mencari dan menerima layanan dari para penyedia layanan (pengepul/pemulung). Anda akan memasukkan data-data anda, seperti lokasi, gambar dan jenis sampah yang akan anda kelola juga waktu penjemputan. Setelah itu permintaan anda akan diperoses oleh sistem, penjemputan akan dilakukan sesuai waktu yang anda teah tentukan. </li>
                </ol>
            </p>
        </div>
      </section>
      <div class="next">
        <a href="../Panduan/panduanRegis.html" id="kanan">Panduan Registrasi Pengguna <img src="../../Assets/next.png" width="28.95"></a>
      </div>
    </main>

    <footer>
      <div class="footer-box">
        <div class="logo-footer">
          <img src="../../Assets/logo-footer.png" alt="" />
        </div>
        <div class="about-box">
          <div class="left-box">
            <div class="about-us">
              <p class="about-desc">
                TrashBack merupakan aplikasi sederhana yang digunakan untuk
                proses menukar sampah menjadi bahan pokok atau sebagainya.
              </p>
            </div>
          </div>
          
        <div class="social-media-box">
          <h3>Ikuti Kami</h3>
          <div class="social-media">
            <a href=""><i class="fab fa-facebook"></i> Facebook</a><br />
            <a href=""><i class="fab fa-instagram"></i> Instagram</a><br />
            <a href=""><i class="fab fa-youtube"></i> Youtube    </a><br />
            <a href=""><i class="fab fa-whatsapp"></i> Whatsapp</a><br />
            <a href=""><i class="fab fa-twitter"></i> Twitter</a><br />
          </div>
        </div>
  
          <div class="center-box">
            <h3>Link Terkait</h3>
            <div class="list-link">
              <a href="../../../Public/index.html"><i class="fas fa-link"></i> Beranda</a><br />
              <a href="../../Components/Transaksi/transaksi.html"><i class="fas fa-link"></i> Transaksi</a><br />
              <a href="../../Components/Chat/chat.html"><i class="fas fa-link"></i> Chat</a><br />
              <a href="../../Components/About/tentangKami.html"><i class="fas fa-link"></i> Tentang Kami</a><br />
            </div>
          </div>
        </div>
      </div>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
