@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

/* Navbar */
a {
  text-decoration: none;
}

header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  margin-right: 40px;
}

.navbar li a {
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: #2f5150;
  color: #fff;
}

.navbar.sticky-top {
  top: 0;
  transition: top 0.3s;
}

.navbar.sticky-top.navbar-scrolled {
  top: 15px;
}

.d-block {
  margin: auto;
  width: 80%;
  height: 45px;
  padding: 10px;
  background: #2f5150 !important;
  border-radius: 20px;
  align-items: center;
}

.d-block h2 {
  margin: 0;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

/* content */
.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

.map-wrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#map-container {
  width: 1100px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

#map {
  width: 100%;
  height: 100%;
}

.drop-off-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.drop-off-card {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.drop-off-card h3 {
  font-family: "Arial";
  font-size: 20px;
}

.card-image {
  width: 100%;
  margin-bottom: 10px;
}

.card-button {
  background-color: #2f5150;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

main {
  margin-top: 30px;
}

/* footer */
footer {
  background-color: #2f5150;
  padding: 20px;
  margin-top: 6rem;
  width: 100%;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -4rem;
  margin-left: 4rem;
}

.logo-footer img {
  margin-top: -5rem;
  margin-left: 4rem;
}

.about-box {
  display: flex;
  width: 100%;
  grid-template-columns: 500px 600px 500px;
  gap: 80px;
  color: #fff;
}

.about-us {
  font-size: 20px;
  font-weight: 500;
  text-align: initial;
}

.left-box,
.center-box,
.right-box {
  flex-basis: 33.33%;
}

.list-link a {
  display: block;
  margin-bottom: 1rem;
  color: #fff;
}
.list-link {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  gap: 20px;
}

.right-box {
  flex-basis: 33.33%;
  text-align: center;
}

.box-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.box-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.box-item .fas {
  margin-right: 10px;
}

.box-item .text {
  color: #fff;
  font-size: 16px;
}

.box-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social-media-box {
  color: #fafaff;
}

.social-media a {
  color: #fafaff;
  font-size: 15px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

@media (max-width: 1200px) {
  .drop-off-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-box {
    margin-left: 0;
  }

  .about-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .left-box,
  .center-box,
  .right-box {
    flex-basis: 100%;
  }

  .list-link a {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}
